In [221]:
#Code to get multiple outputs in the same cell

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

#Code to ignore all warnings
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings(action='ignore',category=DeprecationWarning)

In [222]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [223]:
data=pd.read_csv(r"C:\Users\97158\Desktop\Apziva\Project 3- Potential Talents\potential-talents - Aspiring human resources - seeking human resources.csv")
data.head()
data1=data.copy()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

In [224]:
X=data.drop('fit', axis=1)
y=data['fit']

In [225]:
#Importing relevant libraries

import pickle
from collections import Counter

import nltk
from nltk.corpus import stopwords
from nltk. stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize, RegexpTokenizer

from sklearn.metrics import f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# Tokenization

In [226]:
job_title=list(X['job_title'])
len(job_title)
job_title[0]

104

'2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional'

In [227]:
#Making all text lower case

job_title_LowC=[word.lower() for word in job_title]
job_title_LowC[0]
print("Length of first job_title: ",len(job_title_LowC[0]))

'2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional'

Length of first job_title:  104

In [228]:
# tokenize doc in list(job_title)

tokens= [word_tokenize(word) for word in job_title_LowC]
tokens[0]
print("Length of first job_title: ",len(tokens[0]))

['2019',
 'c.t',
 '.',
 'bauer',
 'college',
 'of',
 'business',
 'graduate',
 '(',
 'magna',
 'cum',
 'laude',
 ')',
 'and',
 'aspiring',
 'human',
 'resources',
 'professional']

Length of first job_title:  18

In [229]:
# Removing stop words in the document

sw=stopwords.words('english')
sw[:5]

['i', 'me', 'my', 'myself', 'we']

In [230]:
# removing stopwords from each doc in list(job_title)
# doc in list
# words in doc

tokens= [[word for word in doc if word not in sw] for doc in tokens]
tokens[0]
print("Length of first job_title: ",len(tokens[0]))

['2019',
 'c.t',
 '.',
 'bauer',
 'college',
 'business',
 'graduate',
 '(',
 'magna',
 'cum',
 'laude',
 ')',
 'aspiring',
 'human',
 'resources',
 'professional']

Length of first job_title:  16

In [231]:
# Removing Punctuation

tokenizer=RegexpTokenizer(r'\w+')
tokens=[["".join(tokenizer.tokenize(word)) for word in doc if len(tokenizer.tokenize(word))>0] for doc in tokens]

In [232]:
tokens[0]
print("Length of first job_title: ",len(tokens[0]))

['2019',
 'ct',
 'bauer',
 'college',
 'business',
 'graduate',
 'magna',
 'cum',
 'laude',
 'aspiring',
 'human',
 'resources',
 'professional']

Length of first job_title:  13

In [233]:
# Stemming

porter=PorterStemmer()

In [234]:
# Finding root words across documents
# tokens in docs
# words in docs


tokens= [[porter.stem(word) for word in doc] for doc in tokens]

tokens[0]
print("Length of first job_title: ",len(tokens[0]))

['2019',
 'ct',
 'bauer',
 'colleg',
 'busi',
 'graduat',
 'magna',
 'cum',
 'laud',
 'aspir',
 'human',
 'resourc',
 'profession']

Length of first job_title:  13

In [235]:
# Implementing Bag of words

Clean_job_title=[" ".join(word) for word in tokens]
Clean_job_title[0]

print("Length of all job_titles: ",len(Clean_job_title))

'2019 ct bauer colleg busi graduat magna cum laud aspir human resourc profession'

Length of all job_titles:  104

In [236]:
vect=CountVectorizer(binary=True, min_df=5)

matrix=vect.fit_transform(Clean_job_title)

matrix.shape  #Returns x and y where x is the total number of tekens and y is the count of binary tokens appearing it atleast 5 documents
type(matrix)
type(vect)

(104, 35)

scipy.sparse._csr.csr_matrix

sklearn.feature_extraction.text.CountVectorizer

The above x and y shape pertains to x being the total number of tokens and y being the count of binary tokens appearing it atleast 5 documents

In [237]:
# Finding the number of unique words in the library
len(vect.vocabulary_)

35

In [238]:
import numpy as np

In [239]:
# Converting Sparse Matrix into Array

x_array=matrix
g=np.squeeze(np.asarray(matrix))

x_array.shape
g.shape
g

(104, 35)

()

array(<104x35 sparse matrix of type '<class 'numpy.int64'>'
	with 427 stored elements in Compressed Sparse Row format>, dtype=object)

In [240]:
from sklearn.metrics.pairwise import cosine_similarity

cos_sim=cosine_similarity(matrix)

In [241]:
cos_sim

array([[1.       , 0.       , 0.5547002, ..., 0.2773501, 0.       ,
        0.       ],
       [0.       , 1.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       [0.5547002, 0.       , 1.       , ..., 0.       , 0.       ,
        0.       ],
       ...,
       [0.2773501, 0.       , 0.       , ..., 1.       , 0.       ,
        0.       ],
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ]])

In [242]:
from sklearn.metrics.pairwise import linear_kernel

cos_sim1=linear_kernel(matrix, matrix)

In [243]:
cos_sim1

array([[13.,  0.,  4., ...,  1.,  0.,  0.],
       [ 0.,  6.,  0., ...,  0.,  0.,  0.],
       [ 4.,  0.,  4., ...,  0.,  0.,  0.],
       ...,
       [ 1.,  0.,  0., ...,  1.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [244]:
# # Recommendation Engine

# def recommend(job_title, cosine_similarity=cos_sim):
#     index = Clean_job_title.index(job_title)
#     sim_score = list(enumerate(cos_sim[index]))
#     sim_score = sorted(sim_score, key= lambda x: x[1], reverse=True)[1:11] #position 0 is the movie itself, thus exclude
#     recommend_index = [i[0] for i in sim_score]
#     rec_movie = data['job_title'].iloc[recommend_index]
#     rec_score = [round(i[1],4) for i in sim_score]
#     rec_table = pd.DataFrame(list(zip(rec_movie,rec_score)), columns=['Recommend Candidate','Similarity(0-1)'])
#     return rec_table

In [245]:
# # Recommendation Engine

# from sklearn.metrics.pairwise import linear_kernel

# def find_similar(tfidf_matrix, index, top_n = 5):
#     cosine_similarities = linear_kernel(tfidf_matrix[index:index+1], tfidf_matrix).flatten()
#     related_docs_indices = [i for i in cosine_similarities.argsort()[::-1] if i != index]
#     return [(index, cosine_similarities[index]) for index in related_docs_indices][0:top_n]

In [246]:
from numpy import dot
from numpy.linalg import norm

def cos_sim(a,b):

    return dot(a, b)/(norm(a)*norm(b))

# Potential Talents -- Project starts here

Word2Vec/FastText

In [247]:
import numpy as np
import re
import string
from nltk.stem import WordNetLemmatizer
import gensim
from gensim.models import Word2Vec
from gensim.models import FastText

In [248]:
# Functions to clean the text in the dataframe


# Function to to make all text lowercase
def make_lowercase(text):
    #lower=list(text)
    lower= [doc.lower() for doc in text]
    return lower

#Removing numbers
def remove_numbers(text):
    remover=[[re.sub(r'\d+','',word) for word in doc] for doc in text]
    #remover=re.sub(r'\d+','',text) # \d+ removes numbers. re.sub finds and replaces that pattern in text. Takes 3 arguments 
    return remover

#Removing punctuations
regex=RegexpTokenizer(r'\w+')
def remove_punctuations(text):
    removed_punct= [["".join(regex.tokenize(word)) for word in doc if len(regex.tokenize(word))>0] for doc in text]  
    return removed_punct

#Removing Stop Words
stop_words=stopwords.words('english')
def remove_stopwords(text):
    sw_remover=[[word for word in doc if word not in stop_words] for doc in text]
    return sw_remover


#Tokenizing texts
def tokenize(text):
    tokens=[word_tokenize(doc) for doc in text]
    return tokens

#Lemmatize Words
lemmatizer=WordNetLemmatizer()
def root(text):
    #flattened_text=[word for sublist in text for word in sublist]
    #lemmatized_text=[lemmatizer.lemmatize(word) for word in flattened_text]
    # text= [lemmatizer.lemmatize(word) for word_list in text for word in word_list]
    lem_text= [[lemmatizer.lemmatize(word) for word in doc] for doc in text]
    return lem_text




#Compiling all the above def functions to preprocess all in one step

def preprocess(text):

    text=make_lowercase(text)
    text=tokenize(text)
    text=remove_stopwords(text)
    text=remove_punctuations(text)
    text=remove_numbers(text)
    text=root(text)
  
    return text

In [249]:
data['job_title']=preprocess(data['job_title'])
data['location']=preprocess(data['location'])

In [250]:
type(data['job_title'])

pandas.core.series.Series

In [251]:
data.head()

,id,job_title,location,connection,fit
0,1,"[, ct, bauer, college, business, graduate, mag...","[houston, texas]",85,NaN
1,2,"[native, english, teacher, epik, english, prog...",[kanada],500+,NaN
2,3,"[aspiring, human, resource, professional]","[raleighdurham, north, carolina, area]",44,NaN
3,4,"[people, development, coordinator, ryan]","[denton, texas]",500+,NaN
4,5,"[advisory, board, member, celal, bayar, univer...","[izmir, türkiye]",500+,NaN

In [252]:
flat_tokens=[word for t in data['job_title'] for word in t]
counts=Counter(flat_tokens)

counts.most_common(10)
len(counts.keys())

[('human', 63),
 ('resource', 63),
 ('aspiring', 35),
 ('professional', 21),
 ('student', 16),
 ('seeking', 15),
 ('college', 14),
 ('generalist', 14),
 ('university', 12),
 ('specialist', 12)]

178

In [253]:
x=data.job_title
x

0      [, ct, bauer, college, business, graduate, mag...
1      [native, english, teacher, epik, english, prog...
2              [aspiring, human, resource, professional]
3               [people, development, coordinator, ryan]
4      [advisory, board, member, celal, bayar, univer...
                             ...
99     [aspiring, human, resource, manager, graduatin...
100               [human, resource, generalist, loparex]
101        [business, intelligence, analytics, traveler]
102                               [always, set, success]
103      [director, administration, excellence, logging]
Name: job_title, Length: 104, dtype: object

# GloVE

In [254]:
embeddings = {}
with open(r"C:\Users\97158\Downloads\glove.6B\glove.6B.100d.txt", encoding='utf-8') as f:
    for line in f:
        values = line.split()
        word = values[0]
        vector = [float(val) for val in values[1:]]
        embeddings[word] = vector
        #coefs = np.asarray(values[1:], dtype='float32')
        #embedding_index[word] = coefs

    print('Found %s word vectors.' % len(embeddings))
    glove_embed=embeddings

Found 400000 word vectors.

In [255]:
import numpy as np

def sentence_embedding(sentence, embeddings):
    words = sentence
    vectorized_words = [embeddings.get(word, np.zeros(100)) for word in words]
    sentence_emb = np.mean(vectorized_words, axis=0)
    return sentence_emb

In [256]:
import numpy as np

def query_embedding(Query, embeddings):
    words = Query.split()
    vectorized_words = [embeddings.get(word, np.zeros(100)) for word in words]
    sentence_emb = np.mean(vectorized_words, axis=0)
    return sentence_emb

In [257]:
Query= "Aspiring human resources"


def Glove_Similarity_score_Cal(df,Query,embedding):                     
    score=[]
    for index,row in df.iterrows():
        sentence=row['job_title']

        # Compute embeddings
        sentence_emb = sentence_embedding(sentence, embedding)
        sentence_emb = sentence_emb.reshape(1,-1) 
        
        Query_emb = query_embedding(Query, embedding)
        Query_emb = Query_emb.reshape(1,-1) 
        
                                        
        #Calculating cosine_similarity      
        Similarity_score=cosine_similarity(sentence_emb,Query_emb)
        score.append(Similarity_score[0][0])
    
    df['fit']=score
    df=df.sort_values(by='fit', ascending=False)
    GloVe_df=df.drop_duplicates(subset=['job_title'])

    return GloVe_df.head(15)

In [258]:
Glove_Similarity_score_Cal(data,Query,glove_embed)

,id,job_title,location,connection,fit
29,30,"[seeking, human, resource, opportunity]","[chicago, illinois]",390,0.887072
87,88,"[human, resource, management, major]","[milpitas, california]",18,0.880439
98,99,"[seeking, human, resource, position]","[la, vega, nevada, area]",48,0.879327
73,74,"[human, resource, professional]","[greater, boston, area]",16,0.868421
72,73,"[aspiring, human, resource, manager, seeking, ...","[houston, texas, area]",7,0.855437
52,53,"[seeking, human, resource, hris, generalist, p...","[greater, philadelphia, area]",500+,0.851628
76,77,"[human, resource, conflict, management, policy...","[dallasfort, worth, area]",409,0.843459
100,101,"[human, resource, generalist, loparex]","[raleighdurham, north, carolina, area]",500+,0.837878
88,89,"[director, human, resource, ey]","[greater, atlanta, area]",349,0.837395
80,81,"[senior, human, resource, business, partner, h...","[chattanooga, tennessee, area]",455,0.821940
70,71,"[human, resource, generalist, scottmadden, inc]","[raleighdurham, north, carolina, area]",500+,0.819823
35,36,"[aspiring, human, resource, specialist]","[greater, new, york, city, area]",1,0.811970
83,84,"[human, resource, professional, world, leader,...","[highland, california]",50,0.795846
68,69,"[director, human, resource, north, america, gr...","[greater, grand, rapid, michigan, area]",500+,0.793044
67,68,"[human, resource, specialist, luxottica]","[greater, new, york, city, area]",500+,0.792844

# Word2Vec & FastText

In [259]:
# Training Skip Gram Model for Word2Vec

skipgram2=Word2Vec(x,vector_size=100,window=2,min_count=2,sg=1)

#Window=3 means model will consider 1 word at a time while training
#min_count=2 means that words that appear at least twice will be included in the vocab.

print(skipgram2)

Word2Vec<vocab=67, vector_size=100, alpha=0.025>

In [260]:
# Training FastText Model

fast_n= FastText(x, vector_size=100, window=2, min_count=2, min_n=1, max_n=2, sg=1)

# A large window size allows the model to look at more context

print(fast_n)

FastText<vocab=67, vector_size=100, alpha=0.025>

In [261]:
# Model Embeddings-Similarity

skipgram2.wv.most_similar(positive=['human'], topn=10)

[('marketing', 0.2013355791568756),
 ('manager', 0.19968749582767487),
 ('hr', 0.19095101952552795),
 ('bauer', 0.18173237144947052),
 ('humber', 0.16728708148002625),
 ('english', 0.16227439045906067),
 ('america', 0.1455521583557129),
 ('development', 0.14216649532318115),
 ('svp', 0.12910626828670502),
 ('ct', 0.12734930217266083)]

In [262]:
skipgram2.wv.most_similar(positive=['resource'], topn=10)

[('graduate', 0.24318785965442657),
 ('university', 0.22627538442611694),
 ('information', 0.21257394552230835),
 ('houston', 0.2099032998085022),
 ('management', 0.20342735946178436),
 ('sphr', 0.19163864850997925),
 ('teacher', 0.17736878991127014),
 ('engie', 0.1664290726184845),
 ('chapman', 0.1503874808549881),
 ('major', 0.1497708559036255)]

In [263]:
# Similar words using Fast Text

fast_n.wv.most_similar(positive=['human'], topn=10)

[('chapman', 0.9678015112876892),
 ('information', 0.962955117225647),
 ('communication', 0.9569567441940308),
 ('marketing', 0.9505852460861206),
 ('management', 0.9505007863044739),
 ('coordinator', 0.9504880309104919),
 ('senior', 0.94764643907547),
 ('manager', 0.9463614225387573),
 ('aspiring', 0.9455015659332275),
 ('english', 0.9403043389320374)]

In [264]:
fast_n.wv.most_similar(positive=['resource'], topn=10)

[('intercontinental', 0.9630917310714722),
 ('director', 0.9596865177154541),
 ('senior', 0.9572448134422302),
 ('generalist', 0.9566609859466553),
 ('engie', 0.9560286998748779),
 ('internship', 0.9540278911590576),
 ('retail', 0.9537052512168884),
 ('university', 0.9535289406776428),
 ('professional', 0.9532554745674133),
 ('development', 0.9530006051063538)]

In [265]:
# Function to take average of all vectors of each word in job_title so that each job_title can represent (1,100) dimensional vector

def get_mean_vector(Model, doc):

    words=[word for word in doc if word in Model.wv.index_to_key]
    if len(words)>=1:
        return np.mean(Model.wv[words], axis=0)
    else:
        return np.array([0]*100)

In [266]:
# # Function to take average of a vector for each word in job_title so that each job_title can represt (1,100) dimensinal vector
# def query_mean(Model, query):

#     words=[word for word in query if word in Model.wv.index_to_key]
#     if len(query)>=1:
#         return np.mean(Model.wv[query], axis=0)
#     else:
#         return np.array([0]*100)

In [267]:
# Job_title to Vectors using Skip Gram Model

sg_mean= [get_mean_vector(skipgram2,i) for i in data.job_title]
skipg_mean=pd.DataFrame(sg_mean)

skipg_mean.head()
skipg_mean.shape

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.001345,0.001193,0.002517,0.002969,0.000618,-0.002404,8.835207e-07,0.004786,-0.002561,-0.002443,...,0.002675,-0.000027,0.000926,0.001033,0.001884,0.002226,0.000260,-0.001268,-0.000932,-0.000929
1,-0.002065,-0.001675,-0.002731,0.000154,-0.001379,-0.003207,-3.798845e-03,-0.001079,-0.000762,-0.002693,...,0.002442,0.002448,0.002155,-0.001035,-0.000679,-0.000289,0.001786,-0.002439,-0.001851,-0.000201
2,-0.004331,0.003942,0.000803,0.002981,0.002465,-0.002866,1.598239e-03,0.006624,-0.002718,-0.003187,...,-0.001884,0.000751,0.003638,-0.003435,0.006241,0.003303,0.001994,-0.003863,-0.000977,-0.000495
3,-0.004154,-0.003903,0.003119,-0.003799,-0.002202,-0.000479,1.790616e-03,0.004054,-0.000794,-0.002236,...,0.004498,-0.006257,0.000074,-0.005798,-0.001003,-0.002423,0.008033,0.001198,0.004467,0.002589
4,-0.002185,-0.000136,0.000374,0.002807,-0.002082,-0.004179,5.893023e-04,0.002730,-0.001350,-0.003703,...,0.002409,0.002446,-0.000637,0.002519,0.005130,-0.001134,-0.006044,0.002324,-0.001782,0.000846

(104, 100)

In [268]:
# Job_title to Vectors using FasttText Model

ft_mean= [get_mean_vector(fast_n,i) for i in data.job_title]

fastT_mean=pd.DataFrame(ft_mean)

fastT_mean.head()
fastT_mean.shape

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-0.003896,0.006873,-0.010979,0.003486,-0.002789,-0.003376,0.001189,-0.001066,0.005136,0.000434,...,0.008723,-0.003084,0.004119,0.002535,0.001942,0.004532,-0.006140,0.002993,-0.002063,-0.000105
1,-0.006597,0.007489,-0.011625,0.003552,-0.003070,-0.003396,0.002458,-0.000059,0.006260,0.000961,...,0.009276,-0.003348,0.006073,0.002382,0.002381,0.004785,-0.005924,0.002485,-0.003362,0.000035
2,-0.006791,0.007601,-0.012338,0.002884,-0.002167,-0.004100,0.000654,-0.000045,0.006197,0.000242,...,0.009625,-0.003667,0.005863,0.002772,0.003214,0.006968,-0.006235,0.002630,-0.003245,-0.000507
3,-0.006577,0.007967,-0.013006,0.002669,-0.002314,-0.004006,0.003616,-0.000570,0.006656,-0.000872,...,0.009490,-0.003293,0.006551,0.003259,0.002938,0.004796,-0.007104,0.003625,-0.002344,-0.000497
4,-0.005842,0.006454,-0.010355,0.003123,-0.003086,-0.003537,0.002135,-0.000331,0.004739,0.000866,...,0.009224,-0.003087,0.005941,0.000973,0.002310,0.004737,-0.005045,0.002923,-0.002246,0.000787

(104, 100)

In [269]:
fast_text_vectors=fastT_mean.to_numpy()
fast_text_vectors.shape

skip_gram_vectors=skipg_mean.to_numpy()
skip_gram_vectors.shape

(104, 100)

(104, 100)

In [270]:
# Cosine Similarity Function

from sklearn.metrics.pairwise import cosine_similarity

In [271]:
# Function to preprocess User's input query


# def Input_preprocessor(query, model):
#     query= preprocess(query)
#     print("Query from Preporocess: ", query)
#     input_vec=query_mean(model, query)
#     print("mean vec after prerpcess: ", input_vec)
#     return input_vec

def query_mean(model, query):
    if len(query)>=1:
        return np.mean(model.wv[query], axis=0)
    else:
        return np.array([0]*100)
                
def Input_preprocessor(query,model):
    input_vec=query_mean(model, query)
    return input_vec

In [272]:
def cos_sim(query_reshaped,row_vector_reshaped):
    return np.dot(row_vector_reshaped, query_reshaped) / (np.linalg.norm(row_vector_reshaped) * np.linalg.norm(query_reshaped))

In [273]:
# # Funciton to return n similar results


# # Query= User's input
# # vec= Skip gram vectors
# # df= orifinal data
# # Model= trained model

# def Top_n(query, model, vectors,data):
#     print("query1 ",query)
#     query = Input_preprocessor(query, model)
#     print("query2: ",query)
#     x = []
#     for i in range(len(vectors)):
#         # Reshape both query and row_vector to ensure compatible shapes for cosine similarity
#         query_reshaped = query[0].reshape(1,-1)   #Because it is a single sample and not single feature
#         row_vector_reshaped = vectors[i].reshape(-1,1)   #Because it is a single feature with multiple samples
        
#         cos_sim(query_reshaped,row_vector_reshaped)
        
#         # # Print the cosine similarities
#         # for i, sim in enumerate(similarities):
#         #     print(f"Cosine Similarity with element {i + 1}: {sim[0]}")    
#         x.append(cos_sim)
#         print("X: ",x)
#     temp = list(x)  
    

#     sort=sorted(range(len(x)),key=lambda sub: x[sub])[-10:]    
#     sim=[temp[i] for i in reversed(sort)]
#     print(sim)

#     #Getting index of the top 10
#     Ind=[]
#     for i in reversed(sort):
#         Ind.append(i)

#     return  data.iloc[Ind,[1,2,3,4]], sim

In [274]:
# Funciton to return n similar results


# Query= User's input
# model= Vector embedding model
# vectors= embedded vectors
# data= original dataframe

def Top_n(query, model, vectors,data):

    #Q_df=pd.DataFrame({"Query": [query]})
    Q_df=pd.DataFrame( [query])
    #Q_df=[query]
    query = Input_preprocessor(Q_df, model)
    
    x = []
    for i in range(len(vectors)):
        x.append(cos_sim(query,vectors[i]))
        
    print('this is x: ',x)
    data['fit']=x
    data=data.sort_values(by='fit', ascending=False)
    data=data.drop_duplicates(subset=['job_title'])
   
    return  data

In [275]:
Query= "Aspiring human resources"

Q_df=pd.DataFrame( [Query])
Q_df

                          0
0  Aspiring human resources

In [276]:
Query= "Aspiring human resources"

Q_df=pd.DataFrame( [Query])
    #Q_df=[query]
query = Input_preprocessor(Q_df, fast_n)
query.shape

(100,)

In [277]:
Query= "Aspiring human resources"



sim_score=Top_n(Query, fast_n,fast_text_vectors,data1)
sim_score.head(10)
# data['fit']=sim_score
# data=data.sort_values(by='fit', ascending=False)
# data.head()

this is x:  [-0.0100288205, -0.02408786, -0.012003587, -0.01741786, -0.015384086, -0.01186889, -0.011148738, -0.014749579, -0.011148738, -0.02407155, -0.015054408, 0.0036662035, -0.002655471, -0.0100288205, -0.0100288205, -0.02408786, -0.012003587, -0.01741786, -0.0100288205, -0.02408786, -0.012003587, -0.01741786, -0.015384086, -0.01186889, -0.011148738, -0.014749579, -0.017895203, -0.009924578, -0.017895203, -0.009924578, -0.0100288205, -0.02408786, -0.012003587, -0.01741786, -0.015384086, -0.01186889, -0.011148738, -0.014749579, -0.011148738, -0.02407155, -0.015054408, 0.0036662035, -0.002655471, -0.0100288205, -0.02408786, -0.012003587, -0.01741786, -0.015384086, -0.01186889, -0.011148738, -0.014749579, -0.011148738, -0.02407155, -0.015054408, 0.0036662035, -0.002655471, -0.0100288205, -0.012003587, -0.01741786, -0.01186889, -0.014749579, -0.02407155, -0.015054408, 0.0036662035, -0.002655471, -0.0041042734, 0.0010898124, -0.006825996, -0.021284923, -0.013726897, -0.009204473, -0.016403036, -0.018805003, -0.0071539287, -0.009892631, -0.012003587, -0.0093576955, -0.009204473, -0.022266177, -0.025521576, -0.016041072, -0.01765071, -0.021513684, -0.015365595, nan, -0.01623555, -0.026876656, -0.016652279, -0.014454099, nan, -0.026876656, -0.0083864285, nan, -0.009924578, -0.010120908, -0.0027393359, -0.012003587, 0.005407755, -0.015732648, -0.017355397, -0.009204473, -0.015307839, nan, -0.020470949]

,id,job_title,location,connection,fit
97,98,Student,"Houston, Texas Area",4,0.005408
11,12,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,0.003666
66,67,"Human Resources, Staffing and Recruiting Profe...","Jackson, Mississippi Area",500+,0.001090
12,13,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,-0.002655
95,96,Student at Indiana University Kokomo - Busines...,"Lafayette, Indiana",19,-0.002739
65,66,Experienced Retail Manager and aspiring Human ...,"Austin, Texas Area",57,-0.004104
67,68,Human Resources Specialist at Luxottica,Greater New York City Area,500+,-0.006826
73,74,Human Resources Professional,Greater Boston Area,16,-0.007154
91,92,Seeking employment opportunities within Custom...,"Torrance, California",64,-0.008386
77,78,Human Resources Generalist at Schwan's,Amerika Birleşik Devletleri,500+,-0.009204

In [278]:
Query= "Aspiring human resources"



sim_score=Top_n(Query, skipgram2,skip_gram_vectors,data1)
sim_score.head(10)
# data['fit']=sim_score
# data=data.sort_values(by='fit', ascending=False)
# data.head()

this is x:  [0.3874439, 0.09169324, 0.44518843, -0.044438798, 0.20438199, 0.47797257, 0.39035848, 0.02834687, 0.39035848, 0.4067095, 0.24885643, 0.17605889, 0.42625052, 0.3874439, 0.3874439, 0.09169324, 0.44518843, -0.044438798, 0.3874439, 0.09169324, 0.44518843, -0.044438798, 0.20438199, 0.47797257, 0.39035848, 0.02834687, 0.46537662, 0.50639397, 0.46537662, 0.50639397, 0.3874439, 0.09169324, 0.44518843, -0.044438798, 0.20438199, 0.47797257, 0.39035848, 0.02834687, 0.39035848, 0.4067095, 0.24885643, 0.17605889, 0.42625052, 0.3874439, 0.09169324, 0.44518843, -0.044438798, 0.20438199, 0.47797257, 0.39035848, 0.02834687, 0.39035848, 0.4067095, 0.24885643, 0.17605889, 0.42625052, 0.3874439, 0.44518843, -0.044438798, 0.47797257, 0.02834687, 0.4067095, 0.24885643, 0.17605889, 0.42625052, 0.35894284, 0.4737077, 0.5867843, 0.43014094, 0.42044377, 0.61696094, 0.5239723, 0.56880647, 0.5267421, 0.33205405, 0.44518843, 0.6677327, 0.61696094, 0.5447279, 0.1374918, 0.53285426, 0.41966096, 0.015788045, 0.49041343, nan, 0.1367619, 0.22627541, 0.62760264, 0.5765931, nan, 0.22627541, -0.029618243, nan, 0.50639397, 0.16012089, 0.19435233, 0.44518843, -0.0175227, 0.51211065, 0.5411712, 0.61696094, 0.084487654, nan, 0.031744156]

,id,job_title,location,connection,fit
76,77,Human Resources|\nConflict Management|\nPolici...,Dallas/Fort Worth Area,409,0.667733
87,88,Human Resources Management Major,"Milpitas, California",18,0.627603
100,101,Human Resources Generalist at Loparex,"Raleigh-Durham, North Carolina Area",500+,0.616961
77,78,Human Resources Generalist at Schwan's,Amerika Birleşik Devletleri,500+,0.616961
70,71,"Human Resources Generalist at ScottMadden, Inc.","Raleigh-Durham, North Carolina Area",500+,0.616961
67,68,Human Resources Specialist at Luxottica,Greater New York City Area,500+,0.586784
88,89,Director Human Resources at EY,Greater Atlanta Area,349,0.576593
72,73,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7,0.568806
78,79,Liberal Arts Major. Aspiring Human Resources A...,"Baton Rouge, Louisiana Area",7,0.544728
99,100,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,0.541171

# BERT

In [280]:
# #model_name='bert-base-nli-mean-tokens'
# from sentence_transformers import SentenceTransformer
# model=SentenceTransformer(model_name)
# # sentence_vecs=[model.encode(sentence) for sentence in data.job_title]
# # sentence_vecs

In [281]:
from transformers import AutoTokenizer, AutoModel
from sentence_transformers.util import cos_sim
import torch

In [282]:
job_title=pd.DataFrame(data.job_title)
job_title.head()

                                           job_title
0  [, ct, bauer, college, business, graduate, mag...
1  [native, english, teacher, epik, english, prog...
2          [aspiring, human, resource, professional]
3           [people, development, coordinator, ryan]
4  [advisory, board, member, celal, bayar, univer...

In [283]:
#tokenizer = BertTokenizer.from_pretrained("sentence-transformers/all-MiniLM-L6-v2")
model_name="bert-base-uncased"
tokenizer=AutoTokenizer.from_pretrained(model_name)
bert_model=AutoModel.from_pretrained(model_name)
#model = BertModel.from_pretrained("sentence-transformers/all-MiniLM-L6-v2")

In [284]:
def tokenize_sent(sentences):
    return tokenizer(sentences,padding=True, truncation=True,return_tensors='pt')  #here is pytorch format

In [312]:
def compute_embeddings(tokenized_sent):
    with torch.no_grad():
        outputs=bert_model(**tokenized_sent)   #unpacking tokenized_sent because this is a dictionary
        embeddings=outputs.last_hidden_state.mean(dim=1)
    return embeddings

In [313]:
def compute_embeddings(tokenized_sent):
    with torch.no_grad():
        outputs=bert_model(**tokenized_sent)   #unpacking tokenized_sent because this is a dictionary
        embeddings=outputs.last_hidden_state.mean(dim=1)   #mean_pooling

    return embeddings

In [287]:
def Similarity_score_Cal(df,Query):                     
    score=[]
    for index,row in df.iterrows():
        sentence=row['job_title']

        #Tokenizing and computing embeddings for raw data
        tokenized_sent=tokenize_sent(sentence)
        sentence_embed=compute_embeddings(tokenized_sent)

        #Tokenizing and computing embedding for input query_mean
        tokenized_query=tokenize_sent(Query)
        query_embed=compute_embeddings(tokenized_query)
                                        
        #Calculating cosine_similarity      
        Similarity_score=cosine_similarity(sentence_embed,query_embed)
        score.append(Similarity_score[0][0])
         
    df['fit']=score
    df=df.sort_values(by='fit', ascending=False)
    df=df.drop_duplicates(subset=['job_title'])

    return df.head(15)

In [288]:
Query= "Aspiring Human Resources"

In [314]:
Similarity_score_Cal(data,Query)

,id,job_title,location,connection,fit
38,39,"[student, humber, college, aspiring, human, re...",[kanada],61,0.714606
101,102,"[business, intelligence, analytics, traveler]","[greater, new, york, city, area]",49,0.700047
71,72,"[business, management, major, aspiring, human,...","[monroe, louisiana, area]",5,0.700047
95,96,"[student, indiana, university, kokomo, busines...","[lafayette, indiana]",19,0.698432
88,89,"[director, human, resource, ey]","[greater, atlanta, area]",349,0.688109
97,98,[student],"[houston, texas, area]",4,0.686118
94,95,"[student, westfield, state, university]","[bridgewater, massachusetts]",57,0.686118
40,41,"[student, chapman, university]","[lake, forest, california]",2,0.686118
58,59,"[people, development, coordinator, ryan]","[denton, texas]",500+,0.677051
99,100,"[aspiring, human, resource, manager, graduatin...","[cape, girardeau, missouri]",103,0.675043
80,81,"[senior, human, resource, business, partner, h...","[chattanooga, tennessee, area]",455,0.674481
103,104,"[director, administration, excellence, logging]","[katy, texas]",500+,0.669402
81,82,"[aspiring, human, resource, professional, ener...","[austin, texas, area]",174,0.664369
68,69,"[director, human, resource, north, america, gr...","[greater, grand, rapid, michigan, area]",500+,0.663378
79,80,"[junior, me, engineer, information, system]","[myrtle, beach, south, carolina, area]",52,0.654574

# SBERT

In [290]:
from sentence_transformers import SentenceTransformer, util
sbert_model = SentenceTransformer('multi-qa-MiniLM-L6-cos-v1')

In [291]:
def SBERT_Similarity_score_Cal(df,Query,model):                     
    score=[]
    for index,row in df.iterrows():
        sentence=row['job_title']

        #Tokenizing and computing embeddings for raw data
        sentence_embed=model.encode(sentence)

        #Tokenizing and computing embedding for input query_mean
        query_embed=model.encode(Query)
        query_embed=query_embed.reshape(1,-1)
                               
        #Calculating cosine_similarity      
        Similarity_score=cosine_similarity(sentence_embed,query_embed)
        score.append(Similarity_score[0][0])
    
    print('this is score scliced: ',score)    
    df['fit']=score
    df=df.sort_values(by='fit', ascending=False)
    df=df.drop_duplicates(subset=['job_title'])
    return df.head(15)

In [292]:
Query= "Aspiring Human Resources"

SBERT_Similarity_score_Cal(data,Query,sbert_model)

this is score scliced:  [0.1657722, 0.15741763, 0.49409574, 0.20827627, 0.19119422, 0.49409574, 0.1856448, 0.4268193, 0.1856448, 0.36639318, 0.18564469, 0.059747767, 0.4529913, 0.1657722, 0.1657722, 0.15741763, 0.49409574, 0.20827627, 0.1657722, 0.15741763, 0.49409574, 0.20827627, 0.19119422, 0.49409574, 0.1856448, 0.4268193, 0.49409574, 0.3663931, 0.49409574, 0.3663931, 0.1657722, 0.15741763, 0.49409574, 0.20827627, 0.19119422, 0.49409574, 0.1856448, 0.4268193, 0.1856448, 0.36639318, 0.18564469, 0.059747767, 0.4529913, 0.1657722, 0.15741763, 0.49409574, 0.20827627, 0.19119422, 0.49409574, 0.1856448, 0.4268193, 0.1856448, 0.36639318, 0.18564469, 0.059747767, 0.4529913, 0.1657722, 0.49409574, 0.20827627, 0.49409574, 0.4268193, 0.36639318, 0.18564469, 0.059747767, 0.4529913, 0.27511165, 0.45299122, 0.4529913, 0.2436051, 0.14023048, 0.4529913, 0.11087361, 0.49409574, 0.4529913, 0.06620973, 0.49409574, 0.4529913, 0.4529913, 0.0007651951, 0.097496495, 0.111794114, 0.49409574, 0.42681938, 0.4529912, 0.08275923, 0.22491515, 0.16946733, 0.4529912, 0.2436051, 0.22513959, 0.1742651, 0.3663931, 0.13508743, 0.3663931, 0.18564469, 0.18564478, 0.49409574, 0.18564476, 0.3663931, 0.49409574, 0.4529913, 0.11087361, -0.006290136, 0.24360506]

,id,job_title,location,connection,fit
48,49,"[aspiring, human, resource, specialist]","[greater, new, york, city, area]",1,0.494096
26,27,"[aspiring, human, resource, management, studen...","[houston, texas, area]",500+,0.494096
20,21,"[aspiring, human, resource, professional]","[raleighdurham, north, carolina, area]",44,0.494096
81,82,"[aspiring, human, resource, professional, ener...","[austin, texas, area]",174,0.494096
72,73,"[aspiring, human, resource, manager, seeking, ...","[houston, texas, area]",7,0.494096
75,76,"[aspiring, human, resource, professional, pass...","[new, york, new, york]",212,0.494096
99,100,"[aspiring, human, resource, manager, graduatin...","[cape, girardeau, missouri]",103,0.494096
42,43,"[human, resource, coordinator, intercontinenta...","[atlanta, georgia]",500+,0.452991
67,68,"[human, resource, specialist, luxottica]","[greater, new, york, city, area]",500+,0.452991
70,71,"[human, resource, generalist, scottmadden, inc]","[raleighdurham, north, carolina, area]",500+,0.452991
73,74,"[human, resource, professional]","[greater, boston, area]",16,0.452991
76,77,"[human, resource, conflict, management, policy...","[dallasfort, worth, area]",409,0.452991
100,101,"[human, resource, generalist, loparex]","[raleighdurham, north, carolina, area]",500+,0.452991
77,78,"[human, resource, generalist, schwan, s]","[amerika, birleşik, devletleri]",500+,0.452991
66,67,"[human, resource, staffing, recruiting, profes...","[jackson, mississippi, area]",500+,0.452991

In [293]:
model_name='sentence-transformers/bert-base-nli-mean-tokens'

tokenizer=AutoTokenizer.from_pretrained(model_name)
model=AutoModel.from_pretrained(model_name)

In [294]:
tokens={'input_ids':[],'attention_mask':[]}

In [295]:
for sentence in data1['job_title']:
    new_tokens=tokenizer.encode_plus(sentence,max_length=128,truncation=True,padding='max_length',return_tensors='pt')
    tokens['input_ids'].append(new_tokens['input_ids'])
    tokens['attention_mask'].append(new_tokens['attention_mask'])

In [296]:
tokens['input_ids']=torch.stack(tokens['input_ids'])
tokens['attention_mask']=torch.stack(tokens['attention_mask'])

In [297]:
tokens['input_ids']=torch.squeeze(tokens['input_ids'])
tokens['attention_mask']=torch.squeeze(tokens['attention_mask'])

In [298]:
tokens['input_ids'].shape

torch.Size([104, 128])

In [299]:
outputs=model(**tokens)
embeddings=outputs.last_hidden_state
embeddings.shape

torch.Size([104, 128, 768])

In [300]:
# Multiplying every value within last hidden state tensor by 0 where we shouldnt have a real token

attention=tokens['attention_mask']
attention.shape

torch.Size([104, 128])

In [301]:
attention.unsqueeze(-1).expand(embeddings.shape).shape

torch.Size([104, 128, 768])

In [302]:
#Converting from integer to float
mask=attention.unsqueeze(-1).expand(embeddings.shape).float()


mask_embed= embeddings*mask
mask_embed.shape

torch.Size([104, 128, 768])

In [303]:
summed=torch.sum(mask_embed,1)
summed.shape

torch.Size([104, 768])

In [304]:
counts=torch.clamp(mask.sum(1),min=1e-9)
counts.shape

torch.Size([104, 768])

In [305]:
mean_pooled=summed/counts
mean_pooled.shape

torch.Size([104, 768])

In [306]:
mean_pooled=mean_pooled.detach().numpy()

In [307]:
Query= "Aspiring Human Resources"


query_token={'input_ids':[],'attention_mask':[]}

query_tokens=tokenizer.encode_plus(Query,max_length=128,padding='max_length',truncation=True,return_tensors='pt')
query_token['input_ids'].append(query_tokens['input_ids'])
query_token['attention_mask'].append(query_tokens['attention_mask'])

query_token['input_ids']=torch.stack(query_token['input_ids'])
query_token['attention_mask']=torch.stack(query_token['attention_mask'])

query_token['input_ids']=torch.squeeze(query_token['input_ids'])
query_token['attention_mask']=torch.squeeze(query_token['attention_mask'])

query_outputs=model(**query_tokens)
query_embeddings=query_outputs.last_hidden_state
print('query_embedding_shape: ',query_embeddings.shape)

query_attention=query_token['attention_mask']
print('query_attention shape: ',query_attention.shape)


#Converting from integer to float
query_mask=query_attention.unsqueeze(-1).expand(query_embeddings.shape).float()


query_mask_embed= query_embeddings*query_mask
print('query_mask_embedding_shape: ',query_mask_embed.shape)


q_summed=torch.sum(query_mask_embed,1)
q_summed.shape

q_counts=torch.clamp(query_mask.sum(1),min=1e-9)
q_counts.shape

q_mean_pooled=q_summed/q_counts
print('query_mean_pooled shape: ',q_mean_pooled.shape)

q_mean_pooled=q_mean_pooled.detach().numpy()

query_embedding_shape:  torch.Size([1, 128, 768])
query_attention shape:  torch.Size([128])
query_mask_embedding_shape:  torch.Size([1, 128, 768])

torch.Size([1, 768])

torch.Size([1, 768])

query_mean_pooled shape:  torch.Size([1, 768])

In [308]:
cosine_similarity(q_mean_pooled,mean_pooled)

array([[0.49784946, 0.37227935, 0.92721367, 0.7058313 , 0.46320167,
        0.9426098 , 0.7215088 , 0.6806129 , 0.7215088 , 0.764407  ,
        0.4487623 , 0.29949868, 0.39719856, 0.49784946, 0.49784946,
        0.37227935, 0.92721367, 0.7058313 , 0.49784946, 0.37227935,
        0.92721367, 0.7058313 , 0.46320167, 0.9426098 , 0.7215088 ,
        0.6806129 , 0.67100716, 0.8337132 , 0.67100716, 0.8337132 ,
        0.49784946, 0.37227935, 0.92721367, 0.7058313 , 0.46320167,
        0.9426098 , 0.7215088 , 0.6806129 , 0.7215088 , 0.764407  ,
        0.4487623 , 0.29949868, 0.39719856, 0.49784946, 0.37227935,
        0.92721367, 0.7058313 , 0.46320167, 0.9426098 , 0.7215088 ,
        0.6806129 , 0.7215088 , 0.764407  , 0.4487623 , 0.29949868,
        0.39719856, 0.49784946, 0.92721367, 0.7058313 , 0.9426098 ,
        0.6806129 , 0.764407  , 0.4487623 , 0.29949868, 0.39719856,
        0.7007383 , 0.75128305, 0.6953852 , 0.4491577 , 0.42338023,
        0.54158014, 0.65605044, 0.7402718 , 0.78272295, 0.54420346,
        0.69621825, 0.61034715, 0.5381652 , 0.5975434 , 0.56517774,
        0.48132113, 0.80302584, 0.37163407, 0.5379616 , 0.259422  ,
        0.50971293, 0.08629327, 0.683863  , 0.7035969 , 0.437305  ,
        0.38351032, 0.62829995, 0.16493395, 0.6705387 , 0.49145722,
        0.25283498, 0.92721367, 0.65468884, 0.8477609 , 0.5008614 ,
        0.60929966, 0.45511636, 0.61895883, 0.48834157]], dtype=float32)

In [309]:
from transformers import BertTokenizer, BertModel
from sklearn.metrics.pairwise import cosine_similarity
import torch

def get_sentence_similarity(tokenizer,model,s1,s2):

    s1 = tokenizer.encode(s1)  
    s2 = tokenizer.encode(s2)

    print("1 len(s1) s1",len(s1),s1) # prints length of tokens - input_ids 8 [101, 7592...
    print("1 len(s2) s2",len(s2),s2)
    s1 = torch.tensor(s1)
    #print("2",s1) # prints tensor([ 101, 7592, ...
    s1 = s1.unsqueeze(0) # add an extra dimension, why ? the model needs to be fed in batches, we give a dummy batch 1
    #print("3",s1) # prints tensor([[ 101, 7592, 
    s2 = torch.tensor(s2).unsqueeze(0)

    # Pass it to the model for inference
    with torch.no_grad():
        output_1 = model(s1)
        output_2 = model(s2)

    logits_s1 = output_1[0]  # The last hidden-state is the first element of the output tuple
    logits_s2 = output_2[0].detach()
    #print("logits_s1 before detach",logits_s1) # prints  tensor([[[-0.1162,  0.2388, ...-0.2128]]], grad_fn=<NativeLayerNormBackward0>)
    logits_s1 = logits_s1.detach() # to remove the last part we call detach

    print("logits_s1.shape",logits_s1.shape ) # prints ([1, <length of tokens>, 768]) - Each token is rep by a 768 row vector for the base Bert Model!
    print("logits_s2.shape",logits_s2.shape ) # 1 the dummy batch dimension we added to the model by un-squeeze
    logits_s1 = torch.squeeze(logits_s1) #lets remove the batch dimension by squeeze
    logits_s2 = torch.squeeze(logits_s2)
    print("logits_s1.shape",logits_s1.shape ) # prints ([<length of tokens>, 768]) say torch.Size([8, 768])
    print("logits_s2.shape",logits_s2.shape )
    a = logits_s1.reshape(1,logits_s1.numel()) # we lay the vector flat make it 1, **768 via reshape; numel is number of elements
    b = logits_s2.reshape(1,logits_s2.numel())
    print("a.shape",a.shape ) # torch.Size([1, 6144])
    print("b.shape",b.shape ) # the shape will be 1, 768* no of tokens in b sentence - need not be similar

    # we can  mean over the rows to give it better similarity - but that is giving poor output
    # a = sentence_vector_1.mean(axis=1) this is giving cosine similarity as 1
    # b = sentence_vector_2.mean(axis=1)
    #cos_sim = F.cosine_similarity(a.reshape(1,-1),b.reshape(1,-1), dim=1)

    # so we pad the tensors to be same shape
    if  a.shape[1] <  b.shape[1]:
        pad_size = (0, b.shape[1] - a.shape[1]) 
        a = torch.nn.functional.pad(a, pad_size, mode='constant', value=0)
    else:
        pad_size = (0, a.shape[1] - b.shape[1]) 
        b = torch.nn.functional.pad(b, pad_size, mode='constant', value=0)

    print("After padding")
    print("a.shape",a.shape ) # 1,N
    print("b.shape",b.shape ) # 1, N


    # Calculate the cosine similarity
    cos_sim = cosine_similarity(a,b)
    #print("got cosine similarity",cos_sim) # output [[0.80432487]]
    return cos_sim

In [310]:
ss1 = "John loves dogs" 
ss2 = "I have gone crazy"



tokenizer = BertTokenizer.from_pretrained("sentence-transformers/all-MiniLM-L6-v2")
model = BertModel.from_pretrained("sentence-transformers/all-MiniLM-L6-v2")
model.eval()
cos_sim = get_sentence_similarity(tokenizer,model,ss1,ss2)

BertModel(
  (embeddings): BertEmbeddings(
    (word_embeddings): Embedding(30522, 384, padding_idx=0)
    (position_embeddings): Embedding(512, 384)
    (token_type_embeddings): Embedding(2, 384)
    (LayerNorm): LayerNorm((384,), eps=1e-12, elementwise_affine=True)
    (dropout): Dropout(p=0.1, inplace=False)
  )
  (encoder): BertEncoder(
    (layer): ModuleList(
      (0-5): 6 x BertLayer(
        (attention): BertAttention(
          (self): BertSelfAttention(
            (query): Linear(in_features=384, out_features=384, bias=True)
            (key): Linear(in_features=384, out_features=384, bias=True)
            (value): Linear(in_features=384, out_features=384, bias=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (output): BertSelfOutput(
            (dense): Linear(in_features=384, out_features=384, bias=True)
            (LayerNorm): LayerNorm((384,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
        (intermediate): BertIntermediate(
          (dense): Linear(in_features=384, out_features=1536, bias=True)
          (intermediate_act_fn): GELUActivation()
        )
        (output): BertOutput(
          (dense): Linear(in_features=1536, out_features=384, bias=True)
          (LayerNorm): LayerNorm((384,), eps=1e-12, elementwise_affine=True)
          (dropout): Dropout(p=0.1, inplace=False)
        )
      )
    )
  )
  (pooler): BertPooler(
    (dense): Linear(in_features=384, out_features=384, bias=True)
    (activation): Tanh()
  )
)

1 len(s1) s1 5 [101, 2198, 7459, 6077, 102]
1 len(s2) s2 6 [101, 1045, 2031, 2908, 4689, 102]
logits_s1.shape torch.Size([1, 5, 384])
logits_s2.shape torch.Size([1, 6, 384])
logits_s1.shape torch.Size([5, 384])
logits_s2.shape torch.Size([6, 384])
a.shape torch.Size([1, 1920])
b.shape torch.Size([1, 2304])
After padding
a.shape torch.Size([1, 2304])
b.shape torch.Size([1, 2304])

In [311]:
# row_vector_reshaped = fast_text_vectors
# print("row_vec_shape 1: ", row_vector_reshaped.shape)
# for i in range(len(row_vector_reshaped)):
#     row_vector = row_vector_reshaped[i]
#     print("row_vec_shape", row_vector.shape)
#     print(row_vector)