In [47]:
#Code to get multiple outputs in the same cell

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

#Code to ignore all warnings
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings(action='ignore',category=DeprecationWarning)

In [48]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [49]:
data=pd.read_csv(r"C:\Users\97158\Desktop\Apziva\Project 3- Potential Talents\potential-talents - Aspiring human resources - seeking human resources.csv")
data.head()
data1=data.copy()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

In [50]:
X=data.drop('fit', axis=1)
y=data['fit']

In [51]:
#Importing relevant libraries

import pickle
from collections import Counter

import nltk
from nltk.corpus import stopwords
from nltk. stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize, RegexpTokenizer

from sklearn.metrics import f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# Tokenization

In [52]:
job_title=list(X['job_title'])
len(job_title)
job_title[0]

104

'2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional'

In [53]:
#Making all text lower case

job_title_LowC=[word.lower() for word in job_title]
job_title_LowC[0]
print("Length of first job_title: ",len(job_title_LowC[0]))

'2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional'

Length of first job_title:  104

In [54]:
# tokenize doc in list(job_title)

tokens= [word_tokenize(word) for word in job_title_LowC]
tokens[0]
print("Length of first job_title: ",len(tokens[0]))

['2019',
 'c.t',
 '.',
 'bauer',
 'college',
 'of',
 'business',
 'graduate',
 '(',
 'magna',
 'cum',
 'laude',
 ')',
 'and',
 'aspiring',
 'human',
 'resources',
 'professional']

Length of first job_title:  18

In [55]:
# Removing stop words in the document

sw=stopwords.words('english')
sw[:5]

['i', 'me', 'my', 'myself', 'we']

In [56]:
# removing stopwords from each doc in list(job_title)
# doc in list
# words in doc

tokens= [[word for word in doc if word not in sw] for doc in tokens]
tokens[0]
print("Length of first job_title: ",len(tokens[0]))

['2019',
 'c.t',
 '.',
 'bauer',
 'college',
 'business',
 'graduate',
 '(',
 'magna',
 'cum',
 'laude',
 ')',
 'aspiring',
 'human',
 'resources',
 'professional']

Length of first job_title:  16

In [57]:
# Removing Punctuation

tokenizer=RegexpTokenizer(r'\w+')
tokens=[["".join(tokenizer.tokenize(word)) for word in doc if len(tokenizer.tokenize(word))>0] for doc in tokens]

In [58]:
tokens[0]
print("Length of first job_title: ",len(tokens[0]))

['2019',
 'ct',
 'bauer',
 'college',
 'business',
 'graduate',
 'magna',
 'cum',
 'laude',
 'aspiring',
 'human',
 'resources',
 'professional']

Length of first job_title:  13

In [59]:
# Stemming

porter=PorterStemmer()

In [60]:
# Finding root words across documents
# tokens in docs
# words in docs


tokens= [[porter.stem(word) for word in doc] for doc in tokens]

tokens[0]
print("Length of first job_title: ",len(tokens[0]))

['2019',
 'ct',
 'bauer',
 'colleg',
 'busi',
 'graduat',
 'magna',
 'cum',
 'laud',
 'aspir',
 'human',
 'resourc',
 'profession']

Length of first job_title:  13

In [61]:
# Implementing Bag of words

Clean_job_title=[" ".join(word) for word in tokens]
Clean_job_title[0]

print("Length of all job_titles: ",len(Clean_job_title))

'2019 ct bauer colleg busi graduat magna cum laud aspir human resourc profession'

Length of all job_titles:  104

In [62]:
vect=CountVectorizer(binary=True, min_df=5)

matrix=vect.fit_transform(Clean_job_title)

matrix.shape  #Returns x and y where x is the total number of tekens and y is the count of binary tokens appearing it atleast 5 documents
type(matrix)
type(vect)

(104, 35)

scipy.sparse._csr.csr_matrix

sklearn.feature_extraction.text.CountVectorizer

The above x and y shape pertains to x being the total number of tokens and y being the count of binary tokens appearing it atleast 5 documents

In [63]:
# Finding the number of unique words in the library
len(vect.vocabulary_)

35

In [64]:
import numpy as np

In [65]:
# Converting Sparse Matrix into Array

x_array=matrix
g=np.squeeze(np.asarray(matrix))

x_array.shape
g.shape
g

(104, 35)

()

array(<104x35 sparse matrix of type '<class 'numpy.int64'>'
	with 427 stored elements in Compressed Sparse Row format>, dtype=object)

In [66]:
from sklearn.metrics.pairwise import cosine_similarity

cos_sim=cosine_similarity(matrix)

In [67]:
cos_sim

array([[1.       , 0.       , 0.5547002, ..., 0.2773501, 0.       ,
        0.       ],
       [0.       , 1.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       [0.5547002, 0.       , 1.       , ..., 0.       , 0.       ,
        0.       ],
       ...,
       [0.2773501, 0.       , 0.       , ..., 1.       , 0.       ,
        0.       ],
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ]])

In [68]:
from sklearn.metrics.pairwise import linear_kernel

cos_sim1=linear_kernel(matrix, matrix)

In [69]:
cos_sim1

array([[13.,  0.,  4., ...,  1.,  0.,  0.],
       [ 0.,  6.,  0., ...,  0.,  0.,  0.],
       [ 4.,  0.,  4., ...,  0.,  0.,  0.],
       ...,
       [ 1.,  0.,  0., ...,  1.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [70]:
# # Recommendation Engine

# def recommend(job_title, cosine_similarity=cos_sim):
#     index = Clean_job_title.index(job_title)
#     sim_score = list(enumerate(cos_sim[index]))
#     sim_score = sorted(sim_score, key= lambda x: x[1], reverse=True)[1:11] #position 0 is the movie itself, thus exclude
#     recommend_index = [i[0] for i in sim_score]
#     rec_movie = data['job_title'].iloc[recommend_index]
#     rec_score = [round(i[1],4) for i in sim_score]
#     rec_table = pd.DataFrame(list(zip(rec_movie,rec_score)), columns=['Recommend Candidate','Similarity(0-1)'])
#     return rec_table

In [71]:
# # Recommendation Engine

# from sklearn.metrics.pairwise import linear_kernel

# def find_similar(tfidf_matrix, index, top_n = 5):
#     cosine_similarities = linear_kernel(tfidf_matrix[index:index+1], tfidf_matrix).flatten()
#     related_docs_indices = [i for i in cosine_similarities.argsort()[::-1] if i != index]
#     return [(index, cosine_similarities[index]) for index in related_docs_indices][0:top_n]

In [72]:
from numpy import dot
from numpy.linalg import norm

def cos_sim(a,b):

    return dot(a, b)/(norm(a)*norm(b))

# Potential Talents -- Project starts here

In [73]:
import numpy as np
import re
import string
from nltk.stem import WordNetLemmatizer
import gensim
from gensim.models import Word2Vec
from gensim.models import FastText

In [74]:
# Functions to clean the text


# Function to to make all text lowercase
def make_lowercase(text):
    lower=list(text)
    lower= [doc.lower() for doc in text]
    return lower

#Removing numbers
def remove_numbers(text):
    remover=[[re.sub(r'\d+','',word) for word in doc] for doc in text]
    #remover=re.sub(r'\d+','',text) # \d+ removes numbers. re.sub finds and replaces that pattern in text. Takes 3 arguments 
    return remover

#Removing punctuations
regex=RegexpTokenizer(r'\w+')
def remove_punctuations(text):
    removed_punct= [["".join(regex.tokenize(word)) for word in doc if len(regex.tokenize(word))>0] for doc in text]  
    return removed_punct

#Removing Stop Words
stop_words=stopwords.words('english')
def remove_stopwords(text):
    sw_remover=[[word for word in doc if word not in stop_words] for doc in text]
    return sw_remover


#Tokenizing texts
def tokenize(text):
    tokens=[word_tokenize(doc) for doc in text]
    return tokens

#Lemmatize Words
lemmatizer=WordNetLemmatizer()
def root(text):
    #flattened_text=[word for sublist in text for word in sublist]
    #lemmatized_text=[lemmatizer.lemmatize(word) for word in flattened_text]
    # text= [lemmatizer.lemmatize(word) for word_list in text for word in word_list]
    lem_text= [[lemmatizer.lemmatize(word) for word in doc] for doc in text]
    return lem_text




#Compiling all the above def functions to preprocess all in one step

def preprocess(text):

    text=make_lowercase(text)
    text=tokenize(text)
    text=remove_stopwords(text)
    text=remove_punctuations(text)
    text=remove_numbers(text)
    text=root(text)
  
    return text

In [75]:
data['job_title']=preprocess(data['job_title'])
data['location']=preprocess(data['location'])

In [76]:
data.head()

,id,job_title,location,connection,fit
0,1,"[, ct, bauer, college, business, graduate, mag...","[houston, texas]",85,NaN
1,2,"[native, english, teacher, epik, english, prog...",[kanada],500+,NaN
2,3,"[aspiring, human, resource, professional]","[raleighdurham, north, carolina, area]",44,NaN
3,4,"[people, development, coordinator, ryan]","[denton, texas]",500+,NaN
4,5,"[advisory, board, member, celal, bayar, univer...","[izmir, türkiye]",500+,NaN

In [77]:
flat_tokens=[word for t in data['job_title'] for word in t]
counts=Counter(flat_tokens)

counts.most_common(10)

[('human', 63),
 ('resource', 63),
 ('aspiring', 35),
 ('professional', 21),
 ('student', 16),
 ('seeking', 15),
 ('college', 14),
 ('generalist', 14),
 ('university', 12),
 ('specialist', 12)]

In [78]:
x=data.job_title

In [79]:
# Training Skip Gram Model

skipgram2=Word2Vec(x,vector_size=100,window=1,min_count=2,sg=1)

#Window=3 means model will consider 1 word at a time while training
#min_count=2 means that words that appear at least twice will be included in the vocab.

print(skipgram2)

Word2Vec<vocab=67, vector_size=100, alpha=0.025>

In [80]:
# Training FastText Model

fast_n= FastText(x, vector_size=100, window=2, min_count=2, min_n=1, max_n=2, sg=1)

# A large window size allows the model to look at more context

print(fast_n)

FastText<vocab=67, vector_size=100, alpha=0.025>

In [81]:
# Model Embeddings-Similarity

skipgram2.wv.most_similar(positive=['human'], topn=10)

[('marketing', 0.203652024269104),
 ('bauer', 0.1899968385696411),
 ('manager', 0.18948908150196075),
 ('hr', 0.18661707639694214),
 ('humber', 0.16956259310245514),
 ('english', 0.1593315303325653),
 ('america', 0.14731059968471527),
 ('development', 0.14231303334236145),
 ('ct', 0.12918153405189514),
 ('svp', 0.1247430071234703)]

In [82]:
skipgram2.wv.most_similar(positive=['resource'], topn=10)

[('graduate', 0.23339055478572845),
 ('university', 0.21716004610061646),
 ('information', 0.2099626660346985),
 ('management', 0.20572538673877716),
 ('sphr', 0.1805756688117981),
 ('houston', 0.17326371371746063),
 ('teacher', 0.1715906262397766),
 ('chapman', 0.15051431953907013),
 ('engie', 0.14695699512958527),
 ('major', 0.1438908725976944)]

In [83]:
# Similar words using Fast Text

fast_n.wv.most_similar(positive=['human'], topn=10)

[('chapman', 0.9678015112876892),
 ('information', 0.962955117225647),
 ('communication', 0.9569567441940308),
 ('marketing', 0.9505852460861206),
 ('management', 0.9505007863044739),
 ('coordinator', 0.9504880309104919),
 ('senior', 0.94764643907547),
 ('manager', 0.9463614225387573),
 ('aspiring', 0.9455015659332275),
 ('english', 0.9403043389320374)]

In [84]:
fast_n.wv.most_similar(positive=['resource'], topn=10)

[('intercontinental', 0.9630917310714722),
 ('director', 0.9596865177154541),
 ('senior', 0.9572448134422302),
 ('generalist', 0.9566609859466553),
 ('engie', 0.9560286998748779),
 ('internship', 0.9540278911590576),
 ('retail', 0.9537052512168884),
 ('university', 0.9535289406776428),
 ('professional', 0.9532554745674133),
 ('development', 0.9530006051063538)]

In [85]:
# Function to take average of all vectors of each word in job_title so that each job_title can represent (1,100) dimensional vector

def get_mean_vector(Model, doc):

    words=[word for word in doc if word in Model.wv.index_to_key]
    if len(words)>=1:
        return np.mean(Model.wv[words], axis=0)
    else:
        return np.array([0]*100)

In [86]:
# Job_title to Vectors using Skip Gram Model

sg_mean= [get_mean_vector(skipgram2,i) for i in data.job_title]
skipg_mean=pd.DataFrame(sg_mean)

skipg_mean.head()
skipg_mean.shape

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.001373,0.001257,0.002420,0.002915,0.000619,-0.002385,0.000024,0.004634,-0.002674,-0.002347,...,0.002584,-0.000047,0.000781,0.000900,0.001866,0.002159,0.000299,-0.001466,-0.000833,-0.000884
1,-0.001982,-0.001588,-0.002726,0.000171,-0.001410,-0.003116,-0.003762,-0.001297,-0.000839,-0.002577,...,0.002314,0.002404,0.001983,-0.001088,-0.000713,-0.000339,0.001755,-0.002603,-0.001743,-0.000193
2,-0.004247,0.003988,0.000705,0.002957,0.002461,-0.002954,0.001605,0.006620,-0.002920,-0.003184,...,-0.001836,0.000672,0.003524,-0.003551,0.006237,0.003273,0.001989,-0.004040,-0.000901,-0.000492
3,-0.004094,-0.003821,0.002990,-0.003792,-0.002141,-0.000399,0.001824,0.003851,-0.000836,-0.002072,...,0.004366,-0.006215,-0.000055,-0.005846,-0.001066,-0.002541,0.008006,0.001028,0.004586,0.002613
4,-0.002174,-0.000114,0.000293,0.002811,-0.002107,-0.004303,0.000618,0.002775,-0.001485,-0.003718,...,0.002469,0.002407,-0.000705,0.002431,0.005171,-0.001168,-0.006071,0.002218,-0.001742,0.000862

(104, 100)

In [87]:
# Job_title to Vectors using FasttText Model

ft_mean= [get_mean_vector(fast_n,i) for i in data.job_title]

fastT_mean=pd.DataFrame(ft_mean)

fastT_mean.head()
fastT_mean.shape

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-0.003896,0.006873,-0.010979,0.003486,-0.002789,-0.003376,0.001189,-0.001066,0.005136,0.000434,...,0.008723,-0.003084,0.004119,0.002535,0.001942,0.004532,-0.006140,0.002993,-0.002063,-0.000105
1,-0.006597,0.007489,-0.011625,0.003552,-0.003070,-0.003396,0.002458,-0.000059,0.006260,0.000961,...,0.009276,-0.003348,0.006073,0.002382,0.002381,0.004785,-0.005924,0.002485,-0.003362,0.000035
2,-0.006791,0.007601,-0.012338,0.002884,-0.002167,-0.004100,0.000654,-0.000045,0.006197,0.000242,...,0.009625,-0.003667,0.005863,0.002772,0.003214,0.006968,-0.006235,0.002630,-0.003245,-0.000507
3,-0.006577,0.007967,-0.013006,0.002669,-0.002314,-0.004006,0.003616,-0.000570,0.006656,-0.000872,...,0.009490,-0.003293,0.006551,0.003259,0.002938,0.004796,-0.007104,0.003625,-0.002344,-0.000497
4,-0.005842,0.006454,-0.010355,0.003123,-0.003086,-0.003537,0.002135,-0.000331,0.004739,0.000866,...,0.009224,-0.003087,0.005941,0.000973,0.002310,0.004737,-0.005045,0.002923,-0.002246,0.000787

(104, 100)

In [88]:
fast_text_vectors=fastT_mean.to_numpy()
fast_text_vectors.shape

(104, 100)

In [89]:
# Cosine Similarity Function

from sklearn.metrics.pairwise import cosine_similarity

In [90]:
# Function to preprocess User's input query


def Input_preprocessor(query, model):
    query= preprocess(query)
    input_vec=get_mean_vector(model, query)
    return input_vec

In [91]:
# Funciton to return n similar results


# Query= User's input
# vec= Skip gram vectors
# df= orifinal data
# Model= trained model

def Top_n(query, model, vectors,data):

    query = Input_preprocessor(query, model)

    x = []
    for i in range(len(vectors)):
        # Reshape both query and row_vector to ensure compatible shapes for cosine similarity
        query_reshaped = query.reshape(1, -1)
        row_vector_reshaped = vectors[i].reshape(1, -1)

        similarity = cosine_similarity(query_reshaped, row_vector_reshaped)
        x.append(similarity)

    temp = list(x)

    #Sorting the list

    sort=temp.sort(reverse=True)[:10]
    sim=[temp[i] for i in reversed(sort)]
    print(sim)

    sort=sorted(range(len(x)),key=lambda sub: x[sub])[-10:]    
    sim=[temp[i] for i in reversed(sort)]
    print(sim)

    # Getting index of the top 10
    Ind=[]
    for i in reversed(sort):
        Ind.append(i)

    return  data.iloc[Ind,[1,2,3,4]], sim

In [92]:
Q1= "Aspiring human resources"

Results,sim = Top_n(Q1, fast_n,fast_text_vectors,data1)
Results,sim

TypeError: 'NoneType' object is not subscriptable

In [ ]:
fast_text_vectors.shape

(104, 100)